@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --color-primary: #1e3248;
  --color-secundary: #2b60a5;
  --color-back2: #f3f4f4;
  --color-back1: #e7e6e9;
}

@layer base {
  body {
    background-color: var(--color-back1)
  }
  h1 {
    font-size: var(--text-4xl);
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-xl);
  }
  p {
    font-size: var(--text-md)
  }
  a {
    color: blue;
    font-style: italic;
    cursor: pointer;
  }
  a:hover {
    text-decoration-line: underline;
  }
  button {
    color: white;
    border-radius: var(--radius-lg);
    background-color: var(--color-primary);
    padding: 0.75rem;
    cursor: pointer;
  }
  code {
    color: black;
  }
  input, select{
    background-color: white;
  }
}

.bg-banner {
  background-image: url("https://i.postimg.cc/bN25qYgT/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
